


.btc {

  background-image: linear-gradient(64deg, #FE9D39 0%, #FFC82D 77%);
  background: #D8D8D8;
  transform: rotate(-345deg);


}


.dash {

  background-image: linear-gradient(-134deg, #12CEF7 0%, #5766F2 100%);
  background: #D8D8D8;
}
