


$body-grad1: #272E33; // first gradient for bg
$body-grad2: #292F34; // first gradient for bg
$sidebar-bg: #464e53; // sidebar for bg

$primary-color: #D1D1D1;  // main font color
$secondary-color: #565b5f; // secondary/sub heading font color
$icon-color: #D8D8D8; // secondary/sub heading font color

$row-bg: #2d3339; // all row colors
$row-bg-brand: #32373d; // brand cells in rows are darker

// crypto colors

$btc-light: #d4aa2f;  // chart border
$btc-dark: #cf8020; // regular borders

$dash-light: #1aa9d1;  // chart border
$dash-dark: #2666a7; // regular borders

$eth-light: #9c6eb9;  // chart border
$eth-dark: #7c62a4; // regular borders

$decred-light: #2b93a1;  // chart border
$decred-dark: #2a92a0; // regular borders


